In [3]:
!pip3 install pandas pyarrow duckdb

parquet_path = r'/Users/h_vk/Downloads/32090008140902_47ccabb9-562a-476a-9a36-5f1043df820d_2024072517111901.parquet'

Requirement already satisfied: pandas in /Users/h_vk/Documents/Repository/Python/env/torch2.3/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: pyarrow in /Users/h_vk/Documents/Repository/Python/env/torch2.3/lib/python3.10/site-packages (17.0.0)
Requirement already satisfied: duckdb in /Users/h_vk/Documents/Repository/Python/env/torch2.3/lib/python3.10/site-packages (1.0.0)
Requirement already satisfied: numpy>=1.22.4 in /Users/h_vk/Documents/Repository/Python/env/torch2.3/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/h_vk/Documents/Repository/Python/env/torch2.3/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /Users/h_vk/Documents/Repository/Python/env/torch2.3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/h_vk/Documents/Repository/Python/env/torch2.3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/h_vk/Documents/Repository/Python/env/torch2.3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## 通过 Pandas 读取 Parquet 文件

In [4]:
import pandas as pd

df = pd.read_parquet(parquet_path)
df.head()

,id,province_code,area_id_es,area_id_file,data_type,longitude,latitude,longitude_offset,latitude_offset,year,...,extended_field_41,extended_field_42,extended_field_43,extended_field_44,extended_field_45,extended_field_46,extended_field_47,extended_field_48,extended_field_49,extended_field_50
0,1816400907351154688,35,b'',b'350000',12,0.0,0.0,0.0,0.0,2024,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
1,1816400907464400896,35,b'',b'350000',12,0.0,0.0,0.0,0.0,2024,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
2,1816400907527315456,35,b'',b'350000',12,0.0,0.0,0.0,0.0,2024,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
3,1816400907590230017,35,b'',b'350000',12,0.0,0.0,0.0,0.0,2024,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
4,1816400907657338881,35,b'',b'350000',12,0.0,0.0,0.0,0.0,2024,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''

## 通过 DuckDB 操作 Parquet 文件

In [6]:
import duckdb

## 创建或连接到 DuckDB
con = duckdb.connect(database=":memory:")

## 读取 Parquet 文件并加载到表中
con.execute(f"CREATE TABLE parquet_table AS SELECT * FROM read_parquet('{parquet_path}')")

## 执行查询 80 - 108 的数据，并将结果生成到一个新的 Parquet 文件中
con.execute(f"COPY (SELECT * FROM parquet_table where freq_start <= 80000000 and freq_end >= 108000000) TO  '/Users/h_vk/Downloads/test.parquet' (FORMAT PARQUET)")